# Quarto
/.quarto/
_site/
_freeze/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Jupyter runtime
.jupyter/
jupyter_notebook_config.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
*.cover
.hypothesis/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
.idea/
*.swp
*.swo
